#keyboard {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 12rem;
	background: linear-gradient( to bottom, rgba( 30, 30, 30, 1 ) 0%, rgba( 15, 15, 15, 1 ) 50% );

	.keys {
		position: absolute;
		top: 0.5em;
		left: 0;
		right: 0;
		bottom: 1em;
		width: 100%;
		max-width: 45rem;
		margin: 0 auto;
		-webkit-transform-style: preserve-3d;
		        transform-style: preserve-3d;

		> .key {
			position: relative;
			float: left;
			z-index: 1;
			-webkit-transform-origin: 50% 0%;
			        transform-origin: 50% 0%;
			text-align: center;
			display: inline-block;
			height: 100%;
			cursor: pointer;

			> span {
				position: absolute;
				bottom: 1.25em;
				left: 0;
				width: 100%;
				text-align: center;
				display: inline-block;
				pointer-events: none;
				-webkit-user-select: none;
				   -moz-user-select: none;
				    -ms-user-select: none;
				        user-select: none;
			}

			&.white {
				width: 12%;
				margin: 0 0.25%;
				background: linear-gradient( to bottom, rgba( 255, 255, 255, 1 ) 0%, rgba( 255, 250, 220, 1 ) 60% );
				border-bottom-left-radius: 6%;
				border-bottom-right-radius: 6%;
				box-shadow:
					inset 0 0.25em 0.5em rgba( 0, 0, 0, 0.4 ),
					inset 0 -0.15em 0.3em rgba( 0, 0, 0, 0.15 ),
					0 0.5em 1em rgba( 0, 0, 0, 1 );


				&[state="down"] {
					-webkit-transform: rotateX( -17deg );
					        transform: rotateX( -17deg );
				}

				&:hover {
					background: linear-gradient( to bottom, rgba( 235, 235, 235, 1 ) 0%, rgba( 215, 215, 215, 1 ) 60% );
				}
			}

			&.black {
				width: 6%;
				margin-left: -3%;
				height: 70%;
				background: linear-gradient( to bottom, rgba( 30, 30, 30, 1 ) 0%, rgba( 10, 10, 10, 1 ) 50% );
				border-bottom-left-radius: 8%;
				border-bottom-right-radius: 8%;
				border: 0.5em solid rgba( 0, 0, 0, 0.3 );
				border-top: none;
				box-shadow: 0 0 0.5em rgba( 0, 0, 0, 0.8 );
				z-index: 10000;
				color: #888;

				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 15%;
					box-shadow: inset 0 5px 5px rgba( 255, 255, 255, 0.075 );
				}

				&[state="down"] {
					-webkit-transform: scaleX( 0.99 ) scaleY( 0.95 );
					        transform: scaleX( 0.99 ) scaleY( 0.95 );
				}

				&:hover {
					background: linear-gradient( to bottom, rgba( 50, 50, 50, 1 ) 0%, rgba( 30, 30, 30, 1 ) 50% );
				}
			}

			// Adjust the position of white keys that immediately
			// follow a black key. This stops the floated elements
			// overflowing the container and aligns the white-keys
			// correctly.
			&.black + .white {
				margin-left: -3%;

				// Fixes a bizarre bug on Safari whereby z-index of
				// black keys isn't respected when another white key
				// is in the 'down' state. Odd.
				z-index: -1;
			}
		}
	}

	.midi {
		position: absolute;
		right: 1rem;
		bottom: 1rem;
	}
}